name: CI
# Formats, lints, and compiles the project whenever a pull request is opened or merged

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  workflow_dispatch:

permissions: {}

jobs:
  format:
    name: Format

    runs-on: ubuntu-latest

    permissions:
      contents: read # Required for actions/checkout

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Format
        run: cargo fmt --check

  lint:
    name: Lint

    runs-on: ubuntu-latest

    permissions:
      contents: read # Required for actions/checkout

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Lint
        run: cargo clippy -- -D warnings

  compile:
    name: Compile

    runs-on: ubuntu-latest

    permissions:
      contents: read # Required for actions/checkout

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Compile
        run: cargo check

  test:
    name: Test

    runs-on: ubuntu-latest

    permissions:
      contents: read # Required for actions/checkout

    steps:
      # IPv6 workaround for GitHub runners
      # https://www.jucktion.com/ipv6-github-actions
      - name: Set up WARP
        uses: fscarmen/warp-on-actions@37ce1997e075435a827991dabcce1d080c1fe512 # v1.4

      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Test
        run: cargo test
